fastapi
uvicorn
pandas
numpy
faiss-cpu
sentence-transformers>=2.3.0
huggingface_hub
python-multipart
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
pydantic
sqlalchemy
pyarrow
torch
python-dotenv